header{
    text-align: center;
    margin-bottom: 50px;
}

form{
    text-align: center;
    margin-bottom: 40px;
}

ul{
    align-items: flex-start;
    display: flex;   
    list-style-type: decimal;
}

.container{
    max-width: 100;
}
.itemBox{
    text-align: center;
    max-width: inherit;
    padding: 10px;
}

li{
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
}

