<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <h1>Todo app</h1>
  <div class="container">
    <form>
       <input type="text" id="todo-item" #newitem [(ngModel)]="todoCurrent">
       <button (click)="addItem(newitem.value); newitem.value=''">add</button>
    </form>
    <div>
      <ul class="list-group">
          <li *ngFor="let item of items" #ival>
            {{item}}
            <button (click)="removeItem(item)">Delete</button>
          </li>
      </ul>
    </div>
  </div>
  
</body>
</html>