<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <h1>Todo app</h1>
  
    <form>
       <input type="text" name="todo-item" #newitem [(ngModel)]="todoCurrent">
       <button (click)="addItem(newitem.value); newitem.value=''">add</button>
    </form>
    <div>
      <ul>
        <div class="container">
          <li *ngFor="let item of items" #ival>
            <div class="itemBox">
            {{item}}
            </div>
            <button (click)="removeItem(item)">Delete</button>
          </li>
        </div>
      </ul>
    </div>

  
</body>
</html>