<mat-card>
    <mat-card-title>{{item.name ? 'Edit' : 'Add'}} Item</mat-card-title>
    <form #itemForm="ngForm" (ngSubmit)="save(itemForm.value)">
      
      <mat-card-content>
        <input type="hidden" name="href" [(ngModel)]="item.href">
        <mat-form-field>
          <input matInput placeholder="Item" [(ngModel)]="item.name"
                 required name="name" #name>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!itemForm.valid">Save</button>
        <button mat-raised-button color="secondary" (click)="remove(item.href)"
                *ngIf="item.href" type="button">Delete</button>
        <a mat-button routerLink="/item-list">Cancel</a>
      </mat-card-actions>

    </form>
  </mat-card>